{% load static %}
<!DOCTYPE html>
<html style="font-size: 16px;">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>Тренировки</title>
     {% block css %}
      {% include 'front/cssloader.html' %}
      {% endblock %}
    <meta name="generator" content="Nicepage 3.15.3, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">

      <link rel="stylesheet" href="{% static 'front/css/Калории.css' %}">


    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": "",
		"url": "index.html",
		"logo": "images/Capture.PNG"
}</script>
    <meta property="og:title" content="Тренировки">
    <meta property="og:type" content="website">
    <meta name="theme-color" content="#478ac9">
    <link rel="canonical" href="index.html">
    <meta property="og:url" content="index.html">
  </head>
  <body class="u-body">
  {% block header %}
    {% include 'front/headerload.html' %}
  {% endblock header %}
  <link rel="stylesheet" href="{% static 'front/css/Тренировки.css' %}">
   <section class="u-clearfix u-custom-color-5 u-section-1" id="sec-ec32">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-size-38 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h4 class="u-text u-text-1" style="color:white">Упражнения день</h4>
                  <div class="u-table u-table-responsive u-table-1">
                    <table class="u-table-entity">
                      <colgroup>
                        <col width="16.1%">
                        <col width="33.9%">
                        <col width="25%">
                        <col width="25%">
                      </colgroup>
                      <tbody class="u-table-body">
                      {% for ex in exe %}
                        <tr style="height: 160px;">
                          <td class="u-border-1 u-border-grey-dark-1 u-palette-1-base u-table-cell u-table-cell-1">{{ex.name}}</td>
                          <td class="u-border-1 u-border-grey-dark-1 u-table-cell">{{ex.calories}} калорий</td>
                          <td class="u-border-1 u-border-grey-dark-1 u-table-cell">{{ex.time}}</td>
                             <td>
                                <img src="/media/{{ ex.img }}" alt="" width="200px" height="120px">
                            </td>

                        </tr>
                          <td>
                           <form action="{% url 'exercises' %}" method="post">
                          {% csrf_token %}
                               <input type="hidden" name="form" value="add">
                              <input type="hidden" name="food_pk" value="{{ ex.pk }}">
                             <button type="submit" style="border: none;outline: none;background-color:#737373;" >
                                     <span class="u-icon u-icon-6">
                                         <svg class="u-svg-content" viewBox="0 0 50 50" x="0px" y="0px" style="width: 1em; height: 1em;">
                                         <circle style="fill:#43B05C;" cx="25" cy="25" r="25"></circle>
                                         <line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="25" y1="13" x2="25" y2="38"></line>
                                         <line style="fill:none;stroke:#FFFFFF;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;" x1="37.5" y1="25" x2="12.5" y2="25"></line>
                                     </svg>
                                     </span>
                             </button>
                          </form>

                          </td>
                      {% endfor %}

                      </tbody>
                    </table>
                  </div>

                </div>
              </div>
            <div class="u-container-style u-layout-cell u-size-22 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <h4 class="" style="color:white; margin-top: 32px">Ваш список тренировок</h4>
                  <div class="u-table u-table-responsive u-table-1">
                    <table class="u-table-entity">
                      <colgroup>
                        <col width="15.7%">
                        <col width="34.3%">
                        <col width="25%">
                        <col width="25%">
                      </colgroup>
                      <tbody class="u-table-body">
                      {% for f in user_exercises %}
                        <tr style="height: 98px;">
                          <td class="u-border-1 u-border-grey-dark-1  u-table-cell u-table-cell-1">{{f.ex.name}}</td>
                            <td>
                                                           <form action="{% url 'exercises' %}" method="post">
                          {% csrf_token %}
                                  <input type="hidden" name="form" value="delete">
                              <input type="hidden" name="uf_pk" value="{{ f.pk }}">
                             <button type="submit" style="border: none;outline: none;background-color:#737373;">
                                    <span class="u-icon u-icon-7"><svg class="u-svg-content" viewBox="0 0 496.158 496.158" x="0px" y="0px" style="width: 1em; height: 1em;"><path style="fill:currentColor;" d="M0,248.085C0,111.063,111.069,0.003,248.075,0.003c137.013,0,248.083,111.061,248.083,248.082  c0,137.002-111.07,248.07-248.083,248.07C111.069,496.155,0,385.087,0,248.085z"></path><path style="fill:#FFFFFF;" d="M383.546,206.286H112.612c-3.976,0-7.199,3.225-7.199,7.2v69.187c0,3.976,3.224,7.199,7.199,7.199  h270.934c3.976,0,7.199-3.224,7.199-7.199v-69.187C390.745,209.511,387.521,206.286,383.546,206.286z"></path></svg><img></span>
                             </button>
                          </form>
                            </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>

                </div>
              </div>

            </div>
          </div>
        </div>
        <a href="{% url 'map' %}" data-page-id="83371635" class="u-btn u-btn-round u-button-style u-custom-color-8 u-hover-custom-color-11 u-radius-2 u-btn-2">Места для тренировок<span class="u-icon"><svg class="u-svg-content" viewBox="0 0 512 512" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M506.134,241.843c-0.006-0.006-0.011-0.013-0.018-0.019l-104.504-104c-7.829-7.791-20.492-7.762-28.285,0.068 c-7.792,7.829-7.762,20.492,0.067,28.284L443.558,236H20c-11.046,0-20,8.954-20,20c0,11.046,8.954,20,20,20h423.557 l-70.162,69.824c-7.829,7.792-7.859,20.455-0.067,28.284c7.793,7.831,20.457,7.858,28.285,0.068l104.504-104 c0.006-.006,0.011-.013,0.018-.019C513.968,262.339,513.943,249.635,506.134,241.843z"></path></svg><img></span>
        </a>
      </div>
    </section>


    <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-d30d"><p class="u-small-text u-text u-text-variant u-text-1">@aitinsan 2021</p></footer>
  </body>
</html>
